@import url('app://bower_components/fontawesome/css/font-awesome.min.css');
:host {
  display: flex;
  flex-direction: column;
}
#view {
  flex: 1;
  padding: 10px;
  padding-top: 0px;
  overflow-y: auto;
  overflow-x: hidden;
}
h2 {
  color: #11ff00;
}
h3 {
  margin-top: 0;
  margin-bottom: 10px;
}
.fullFit
{
  flex: 1;
  position:absolute;
  bottom: 5px;
  width: 99%;
  left: 5px;
  right: 5px;
}
.title
{
  top: 80px;
}
.view
{
  top: 100px;
}
span {
  margin-right: 0.25em;
}

.splitter {
  margin: 10px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.box {
  border: 1px solid #888;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.content
{
  margin:0;
  padding: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  border: 1px solid #888;
}